  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .link {
    stroke-width: 3px;
    stroke: steelblue;
    fill: none;
    /*stroke-dasharray:40;*/
    stroke-dashoffset:400;
    -webkit-animation: 'draw' 10s linear infinite;
    animation: 'draw' 10s linear infinite;
    stroke-linejoin:bevel;
  }

  @-webkit-keyframes draw {
      0% {
          stroke-dashoffset: 400;
      }
      100% {
          stroke-dashoffset: 0;
      }
  }