  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .link {
    stroke-width: 3px;
    stroke: lightcoral;
    fill: none;
    /*stroke-dasharray:40;*/
    stroke-dashoffset:400;
    -webkit-animation: 'draw' 10s linear infinite;
    animation: 'draw' 10s linear infinite;
    stroke-linejoin:bevel;
    cursor: pointer;
  }

  @-webkit-keyframes draw {
      0% {
          stroke-dashoffset: 400;
      }
      100% {
          stroke-dashoffset: 0;
      }
  }
  .test{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: red;
    display: none;
  }
  .container{
    position: absolute;
    top: -150px;
  }
  #chart-panel{
    position: relative;
    top: 630px
  }